
.slider
    position: fixed
    left: 0
    top: 0
    z-index: 1000
    width: 100%
    height: 100vh
    background-color: rgba(0,0,0, .8)
    overflow: auto

    .slide-wrapper
        display: flex
        align-items: center

        .slide-content
            display: flex
            align-items: center

            .slide-inner
                display: flex
                justify-content: center
                align-items: center
                width: 520px
                height: 100vh
                overflow: hidden
                cursor: zoom-in

                .slide-img
                    max-width: 440px

                .slide-img-big
                    max-width: 100%

            .slide-inner-big
                height: 100%
                cursor: zoom-out
                    
    .arrows

        .arrow
            position: fixed
            top: 0
            z-index: 100
            width: 15%
            height: 100vh
            cursor: pointer
            transition: .2s all

        .next
            right: 0

            .arrow-n
                position: absolute
                right: 40%
                top: 50%
                transform: rotate(-45deg)
                width: 20px
                height: 20px
                border: 3px solid #fff
                border-radius: 2px
                border-left: none
                border-top: none

            &:hover
                background-color: rgba(255,255,255, .1)

        .prev

            .arrow-p
                position: absolute
                left: 40%
                top: 50%
                transform: rotate(135deg)
                width: 20px
                height: 20px
                border: 3px solid #fff
                border-radius: 2px
                border-left: none
                border-top: none

            &:hover
                background-color: rgba(255,255,255, .1)

    .cross
        position: fixed
        top: 5%
        right: 15%
        z-index: 1000
        width: 20px
        height: 20px
        padding: 20px
        border-radius: 50%
        background-color: rgba(0,0,0, .5)
        cursor: pointer
        transition: .2s all

    .cross:before
        content: ""
        position: absolute
        top: 45%
        left: 25%
        z-index: 1
        width: 20px
        height: 3px
        background-color: #fff
        border-radius: 4px
        transform: rotate(45deg)

    .cross:after
        content: ""
        position: absolute
        top: 45%
        left: 25%
        z-index: 1
        width: 20px
        height: 3px
        background-color: #fff
        border-radius: 4px
        transform: rotate(-45deg)

    .cross:hover
        background-color: rgba(255,255,255, .3)


    .block-none
        display: none


.common-styles
    position: relative
    width: 100%
    padding: 60px 30px
    padding-bottom: 120px
    margin: 0 auto


    .common-styles-wrapper
        display: flex
        justify-content: center
        margin-top: 50px

        .main-img
            opacity: 0
            max-width: 380px
            height: auto
            transition: .9s all
            overflow: hidden

            .img
                width: 100%
                height: auto
                border: 2px solid #fff

        .wrapper-right
            width: 35%
            margin: 20px 60px

            .inner-content
                width: 100%
                text-align: center
                margin: 0 auto
                margin-bottom: 30px

                .img-wrapper
                    display: flex
                    justify-content: center
                    flex-wrap: wrap

                    .img-block-right
                        margin: 5px
                        cursor: pointer
                        transition: .2s all
                        opacity: 0
                        transform: rotateY(90deg)

                        .img-right
                            position: relative
                            z-index: -1         // without a negative z-index, the slider does not work correctly
                            width: 100px
                            height: 100%
                            box-shadow: 0px 0px 1px 2px rgba(255,255,255, 1)

                    .img-block-right:hover
                        box-shadow: 0px 0px 4px 4px rgba(0,0,0, .5)

            .title
                opacity: 0
                transition: .5s all
                text-align: center

                .title-info
                    display: block
                    justify-content: space-between

                    .info
                        color: #4e5b71

                        .info-wrapper
                            display: flex
                            cursor: pointer

                            .info-arrow
                                position: relative
                                z-index: 1
                                width: 40px
                                padding: 10px 20px
                                border: 2px solid #4e5b71
                                background-color: #fff
                                cursor: pointer

                                .arrow-inner
                                    position: absolute
                                    top: 35%
                                    left: 30%
                                    width: 10px
                                    height: 10px
                                    border: 2px solid #4e5b71
                                    border-top: none
                                    border-right: none
                                    transform: rotate(-135deg)
                                    transition: .3s all

                                .arrow-active
                                    transform: rotate(-45deg)
                                    left: 40%


                            .info-title
                                position: relative
                                z-index: 1
                                border: 2px solid #4e5b71
                                border-left: none
                                width: 100%
                                padding: 10px 5px
                                font-weight: 700
                                background-color: #fff

                        .info-descr
                            transition: .2s all
                            opacity: 0

                        .info-descr-active
                            height: 60px
                            padding-top: 20px
                            margin-bottom: 20px
                            background-color: #fff
                            border: 2px solid #4e5b71
                            border-top: none
                            opacity: 1

                    .ihfo-link
                        display: block
                        text-decoration: none
                        text-transform: uppercase
                        font-weight: 700
                        color: #fff
                        letter-spacing: 2px
                        padding: 20px 5px
                        border: 2px solid #fff
                        width: 100%
                        transition: .2s all

                        &:hover
                            background-color: #fff
                            color: #fab13c


.chapter-projects
    padding-top: 20px

.projects
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 20px
    margin-bottom: 90px

    .project-img
        margin: 10px

        img
            width: 180px
            height: auto
            box-shadow: 0px 0px 1px 2px rgba(255,255,255, 1)
            transition: .2s all

        img:hover
            box-shadow: 0px 0px 4px 4px rgba(0,0,0, .5)


// Media

@media screen and (max-width: 1399px)

    .common-styles

        .common-styles-wrapper
            margin-top: 10px

    .img-right
        max-width: 80px

@media screen and (max-width: 1328px)

    .common-styles

        .common-styles-wrapper
            margin-top: 10px
            
            .wrapper-right
                margin: 0 30px

@media screen and (max-width: 1099px)
    .slider

        .slide-wrapper

            .slide-content

                .slide-inner

                    .slide-img
                        max-width: 420px

                    .slide-img-big
                        max-width: 100%

    .chapter
        font-size: 20px

    .ihfo-link
        font-size: 14px


@media screen and (max-width:  899px)

    .common-styles
        padding-bottom: 80px

    .img-right
        max-width: 75px

@media screen and (max-width:  799px)

    .common-styles
        padding-bottom: 60px

        .common-styles-wrapper
            flex-direction: column
            
            .main-img
                max-width: 420px
                margin: 0 auto

            .wrapper-right
                width: 100%
                margin: 10px auto

                .title

                    .title-info

                        .info
                            max-width: 600px
                            margin: 10px auto

                        .ihfo-link
                            max-width: 600px
                            margin: 10px auto


@media screen and (max-width: 599px)
    .slider

        .slide-wrapper
            
            .slide-content

                .slide-inner

                    .slide-img
                        max-width: 300px

                    .slide-img-big
                        max-width: 100%

    .wrapper
        .content
            .common-styles
                .chapter
                    padding-top: 60px


@media screen and (max-width: 499px)

    .common-styles
        padding-bottom: 30px

        .common-styles-wrapper
            margin-top: 0

            .main-img
                max-height: 580px
                
            .wrapper-right

                .inner-content

                    .img-wrapper

                        .img-block-right

                            .img-right
                                width: 80px

    .projects
        margin-top: 10px

        .project-img
            margin: 5px

            img
                width: 100px


@media screen and (max-width: 399px)
    .slider

        .slide-wrapper

            .slide-content

                .slide-inner

                    .slide-img
                        max-width: 220px

                    .slide-img-big
                        max-width: 100%

    .common-styles

        .common-styles-wrapper
                
            .wrapper-right

                .inner-content

                    .img-wrapper

                        .img-block-right

                            .img-right
                                width: 60px

    .projects

        .project-img
            margin: 5px

            img
                width: 80px

