@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');


*
    box-sizing: border-box

body
    padding: 0
    margin: 0
    background: url("../img/dark_wood.png")
    font-family: 'Comfortaa', cursive
    color: #fff
    width: 100%
    max-width: 1920px
    margin: 0 auto

    a
        text-decoration: none

    .bg-img
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        z-index: -1





@import "header";
@import "home";
@import "common-styles";
@import "footer";
@import "imprint";
@import "policy";
@import "preloader";
@import "about";
@import "contacts";